<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recuperación de contraseña</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!--===============================================================================================-->
  </head>
  <body>
    <div class="limiter">
      <div
        class="container-login100"
        style="background-image: url('images/img-01.jpg')"
      >
        <div class="wrap-login100 p-t-190 p-b-30">
          <form class="login100-form validate-form" onsubmit="return false">
           

            

            <div
              class="wrap-input100 validate-input m-b-10"
              data-validate="Username is required"
            >
              <input
                class="input100"
                type="text"
                name="usuario"
                id="username"
                placeholder="usuario"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-user"></i>
              </span>
            </div>

            

            <div class="container-login100-form-btn p-t-10">
              <button class="login100-form-btn" onclick="searchPass()">
                Buscar contraseña
              </button>
            </div>

            <div class="text-center w-full p-t-25 p-b-230">
              <a href="../SignIn/login.html" class="txt1"> Iniciar sesión </a>
            </div>

            <div class="text-center w-full p-t-25 p-b-230">
              <a href="#" class="txt1">  </a>
            </div>

            
          </form>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>




    <script>

    let headers = new Headers();
		headers.append('Content-Type', 'application/json');
		headers.append('Accept', 'application/json');
		headers.append('Access-Control-Allow-Origin', 'http://localhost:8000');
		headers.append('Access-Control-Allow-Credentials', 'true');
		headers.append('GET', 'POST', 'OPTIONS');

      function searchPass(){

        //Obteniendo la data para el registro
        let username = document.getElementById("username").value;
        //Mando a hacer la peticion
        fetch('http://localhost:8000/getPassword/'+username, {
            method: 'POST',
            headers: headers,
            body: `{  
              "username":"${username}"
                       }`,
          })
        //Aca espero a mi respuesta
        .then(response => response.json())
        //Aca yo ya trabajo con la respuesta
        .then(data => {
          alert("Su contraseña es: "+data['password'])
          console.log(data)
        })
        .catch((error) => {
            console.error('Error:', error);
        });
  
      }
      
    </script>




















  </body>
</html>
